h2 {
    text-align: center;
}

.form {
    text-align: center;
    background-color: #eee;
    padding: 1%;
    margin-top: 25px;
    margin-bottom: -100px;
}

hr {
    margin-top: 50px;
}

table {
    text-align: center;
    width: 100%;
    padding: 0 10%;
}

#mac {
    color: #671818;
    font-weight: bolder;
}

#websites {
    text-align: center;
}

#websites a {
    padding: 0 20px;
}